*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .container{
    position: relative;
    height: 1430px;
    top: 185px;
    max-width: 865px !important;
  }
  
 
  #vertical-line {
    position: absolute;
    top: 380px;
    left: 50%;
    width: 2px; 
    height: 1720px; 
    background-color: #4D5628; 
  }
  .horizontal-line {
    height: 2px; 
    background-color:#4D5628; 
    opacity: 100% !important;
  }

  @media(max-width:766px){
    #vertical-line {
      position: absolute;
      top: 0;
      left: 0%;
      width: 0px; 
      height: 0vh; 
      background-color: none; 
    }
  .vertical-line .bi-circle-fill::before {
    content: "none" !important;
  }
}
.row{
  --bs-gutter-x: 0rem !important;
}

/** Mozilla Firefox */
@-moz-document url-prefix(){
  span .hl{
    bottom: 0px;
    top: 4px;
  }
}
 