*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
    width: 865px;
    height: 1430px;
    display: contents;
   

  }
  .container{
    display: flex;
    flex-direction: column;
   
  }